<style>
  .container {
    width: 100%;
    background: #ebebeb;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .head {
    width: 100%;
    background: #8257e6;
    padding: 24px;

    color: #fff;
    font-size: 24px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .head strong {
    margin-left: 6px;
    font-weight: 700;
  }

  .title {
    color: #8257e6;
    font-size: 22px;
    font-weight: 500;
  }

  .description {
    color: #000;
    font-size: 20px;
    font-weight: 400;
  }

  hr {
    width: 75%;
    height: 4px;
    background: #8257e6;
    border-radius: 100%;
    opacity: 0.7;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .level {
    width: 75%;
    margin: 10px;

    color: #8257e6;
    font-size: 18px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .answers {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
  }

  .value {
    padding: 10px 25px 10px 25px;
    background: #8257e6;
    opacity: 0.8;
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
  }

  .value:hover {
    opacity: 1;
  }

  .message {
    color: ##000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .footer {
    width: 100%;
    background: #8257e6;
    padding: 24px;

    color: #fff;
    font-size: 18px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="container">
  <label class="head">Olá <strong>{{name}}</strong>! Tudo Bem?</label>

  <h3 class="title">{{title}}</h3>
  <br>
  <strong class="description">{{description}}</strong>

  <br>

  <hr>

  <div class="level">
    <span>| Pouco Provável</span>
    <span>Muito Provável |</span>
  </div>

  <div class="answers">
    <a class="value" href="{{link}}/1?u={{id}}">1</a>
    <a class="value" href="{{link}}/2?u={{id}}">2</a>
    <a class="value" href="{{link}}/3?u={{id}}">3</a>
    <a class="value" href="{{link}}/4?u={{id}}">4</a>
    <a class="value" href="{{link}}/5?u={{id}}">5</a>
    <a class="value" href="{{link}}/6?u={{id}}">6</a>
    <a class="value" href="{{link}}/7?u={{id}}">7</a>
    <a class="value" href="{{link}}/8?u={{id}}">8</a>
    <a class="value" href="{{link}}/9?u={{id}}">9</a>
    <a class="value" href="{{link}}/10?u={{id}}">10</a>
  </div>

  <br>

  <hr>

  <br>
  <br>

  <strong class="message">Sua opnião é muito importante para nós</strong>
  <h3 class="footer">Equipe | FAKEs</h3>
</div>